---
import { Picture } from "astro:assets"
import cynthus from "@/img/Cynthus.jpg";
import audi from "@/img/audi-col.jpg";
import finazul from "@/img/finazul.jpg";
import ays from "@/img/ays.jpg";
import marketeros from "@/img/Marketeros.jpg";
import fms from "@/img/FernandaMilaSpa.jpg";
import dsi from "@/img/DSI.jpg";
import terracore from "@/img/Terracore.jpg";
import pelecanus from "@/img/Pelecanus.jpg";
import marruecos from "@/img/ViajeenMarruecos.jpg";
import controlgastos from "@/img/controlGastos.jpg";
import pacientes from "@/img/seguimientoPacientes.jpg";
import { Image } from "astro:assets"

interface Props {
    nombre: string
    tecnologias: string[]
    descripcion: string
    img: string
    link: string
}

const { nombre, tecnologias, descripcion, img, link } = Astro.props

import JavaScript from "@/icons/JavaScript.astro"
import PHP from "@/icons/PHP.astro"
import React from "@/icons/React.astro"
import Vite from "@/icons/Vite.astro"
import WordPress from "@/icons/WordPress.astro"

---

<article class="rounded-xl shadow-lg bg-white overflow-hidden">
    <a
        href={link}
        target="_blank"
        class=" relative sm:h-64 md:h-auto lg:h-64 flex w-full"
    >
        <card class="flex flex-col justify-between w-full">
            <picture class=" aspect-auto md:aspect-video w-full h-auto">

                {img == "Cynthus" ? <Image src={cynthus} alt=`Imágen ejemplo del proyecto ${nombre}` class=" object-cover w-full"/> : null}
                {img == "audi-col" ? <Image src={audi} alt=`Imágen ejemplo del proyecto ${nombre}` class=" object-cover w-full"/> : null}
                {img == "finazul" ? <Image src={finazul} alt=`Imágen ejemplo del proyecto ${nombre}` class=" object-cover w-full"/> : null}
                {img == "ays" ? <Image src={ays} alt=`Imágen ejemplo del proyecto ${nombre}` class=" object-cover w-full"/> : null}
                {img == "Marketeros" ? <Image src={marketeros} alt=`Imágen ejemplo del proyecto ${nombre}` class=" object-cover w-full"/> : null}
                {img == "FernandaMilaSpa" ? <Image src={fms} alt=`Imágen ejemplo del proyecto ${nombre}` class=" object-cover w-full"/> : null}
                {img == "DSI" ? <Image src={dsi} alt=`Imágen ejemplo del proyecto ${nombre}` class=" object-cover w-full"/> : null}
                {img == "Terracore" ? <Image src={terracore} alt=`Imágen ejemplo del proyecto ${nombre}` class=" object-cover w-full"/> : null}
                {img == "Pelecanus" ? <Image src={pelecanus} alt=`Imágen ejemplo del proyecto ${nombre}` class=" object-cover w-full"/> : null}
                {img == "ViajeenMarruecos" ? <Image src={marruecos} alt=`Imágen ejemplo del proyecto ${nombre}` class=" object-cover w-full"/> : null}
                {img == "controlGastos" ? <Image src={controlgastos} alt=`Imágen ejemplo del proyecto ${nombre}` class=" object-cover w-full"/> : null}
                {img == "seguimientoPacientes" ? <Image src={pacientes} alt=`Imágen ejemplo del proyecto ${nombre}` class=" object-cover w-full"/> : null}
                
            </picture>

            <information class="w-full">
                <h4 class=" text-center text-black font-bold py-2 text-base border-b-2 border-t-2 border-dashed border-gray-200">{nombre}</h4>
                <ul class=" flex justify-center py-3 gap-3">
                {
                    tecnologias.map(tecnologia => (
                        <li>
                            {tecnologia == "JavaScript" ? <JavaScript /> : null}
                            {tecnologia == "PHP" ? <PHP /> : null}
                            {tecnologia == "React" ? <React /> : null}
                            {tecnologia == "Vite" ? <Vite /> : null}
                            {tecnologia == "WordPress" ? <WordPress /> : null}
                        </li>
                    ))
                }
                </ul>
            </information>
        </card>

        <descripcion class="hoverFicha">
            <p class="tit">{nombre}</p>
            <p class="desc">{descripcion}</p>
            <span>Ver más</span>
        </descripcion>
    </a>
    
</article>


<style>

    a::before{
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: linear-gradient(90deg, rgba(255,133,64,1) 0%, rgba(255,96,37,1) 100%);
        position: absolute;
        border-radius: 100%;
        transform: translateY(101%) rotate(0deg) scale(1);
        transition: .5s all ease;
        transition-delay: .2s;
    }

    a:hover:before{
        transition-delay: 0s;
        border-radius: 30%;
        transform: translateY(0%) rotate(180deg) scale(1.3);
    }

    .hoverFicha{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: .4s transform ease;
        transform: translateY(100%);
        transition-delay: 0s;
        padding: 10px;
        display: flex;
        flex-direction: column;
        color: #fff;
    }
    .tit{
            text-align: center;
            font-weight: 900;
            font-size: 16px;
            border-bottom: 1px dashed #fff;
            padding: 5px 0;
        }
    .desc{
        font-size: 14px;
        line-height: 17px;
        margin: auto 0;
    }
    span{
        text-align: center;
        border-top: 1px dashed #fff;
        padding: 5px 0;
    }
    a:hover .hoverFicha{
        transition-delay: .2s;
        transform: translateY(0%);
    }
    article{
        transition: .4s all ease;
        opacity: 0;
        transform: translateX(50%);
    }
    article.visible{
        opacity: 1;
        transform: translateX(0%);
    }

    article.visible.primeros,
    article.cuartos{
        transition-delay: 0s;
    }
    article.visible.segundos,
    article.terceros{
        transition-delay: .1s;
    }
    article.visible.terceros,
    article.segundos{
        transition-delay: .2s;
    }
    article.visible.cuartos,
    article.primeros{
        transition-delay: .3s;
    }
</style>